.project-list-container {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
}

.project-link {
  flex:3;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.project-dropdown {
  width: 100px;
  flex:0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}